* {
    font-family: Roboto, sans-serif;
}

body {
    text-align: center;
    display: block;
    gap:20px;
}

hr {
 border: dotted darkgoldenrod 4px;
 width:4%;
 margin: 100px auto;
}

.header {
    background-color:darkgoldenrod;
    margin-bottom: 50px;
    text-align: center;
    padding:200px;
    color:white;
}

.about img {
    border: 1px solid #fff;
    border-radius: 50%;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    text-align: left;
    row-gap:2rem;
    width:50%;
    margin:100px auto 0 auto;
}

p {
    display: block;
    line-height: 2;
}

.btn {
    border: none;
    border-radius: 8px;
    font-size: 14px;
    background-color: darkgoldenrod;
    color:#fff;
    padding: 12px;;
}

.contact {
    padding:14px;
    font-size: 18px;
    background-color: darkgoldenrod;
}

.message {
    width: 40%;
    margin: 40px auto 60px;
}